@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
}

h1,
.sub {
  font-family: "Quicksand";
  color: #fff;
}

header {
  background-color: orangered;
  padding: 50px 0;
}

.card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px;
}

.card {
  color: crimson;
  font-size: 2rem;
  text-align: center;
}

.card:hover {
  background: chartreuse;
  color: black;
}

p a {
  padding: 5px;
}

.jumbotron {
  background: navy;
  color: #fff;
}
